{% extends 'app/base.html' %}
{% load static %} 
{% block body_block %}

{{ totalbar | safe }}
<div style="margin: 70px;">

<h1>What We Do</h1>  
<p>Tweets on Trial is a CSCW website that takes tweets from Twitter to let them be judged by you, our user! </p>
<p>Do you feel that a tweet is <text class="stroke" style="color:#67d535;">Positive</text>, <text class="stroke" style="color:#ed6b6b;">Aggressive</text> or <text class="stroke" style="color:#ababab;">Offensive</text>? 
  Maybe even <text class="stroke" style="color:#ec882a;">Aggressive and Offensive</text>? Well, let us now by signing in and voting on them!  </p>

<h1>How You Do It</h1>
<div class="gallery" style="border: 2px solid black;">
    <a target="_blank" href="{% static 'images/Sign_Up.png' %}">
      <img src="{% static 'images/Sign_Up.png' %}" alt="sign-up" width="3000" height="2000">
    </a>
    <div class="desc" style="background-color: rgb(114, 187, 247); color: rgb(41, 39, 39);">First things first, register yourself by making an account!</div>
  </div>
  
  <div class="gallery" style="border: 2px solid black;">
    <a target="_blank" href="{% static 'images/Home.png' %}">
      <img src="{% static 'images/Home.png' %}" alt="home" width="3000" height="2000">
    </a>
    <div class="desc" style="background-color: rgb(114, 187, 247); color: rgb(41, 39, 39);">Once you create an account, start judging tweets.</div>
  </div>
  
  <div class="gallery" style="border: 2px solid black;">
    <a target="_blank" href="{% static 'images/Judge.png' %}">
      <img src="{% static 'images/Judge.png' %}" alt="judge" width="3000" height="2000">
    </a>
    <div class="desc" style="background-color: rgb(114, 187, 247); color: rgb(41, 39, 39);">Let us know if the tweet you've been shown is abusive</div>
  </div>

  <div class="gallery" style="border: 2px solid black;">
    <a target="_blank" href="{% static 'images/Graphs.png' %}">
      <img src="{% static 'images/Graphs.png' %}" alt="results" width="3000" height="2000">
    </a>
    <div class="desc" style="background-color: rgb(114, 187, 247); color: rgb(41, 39, 39);">You can checkout site statistics on the analytics page</div>
  </div>
  </div>
{% endblock %}