{% extends 'app/base.html' %}
{% load static %} 
{% block body_block %}

<div class="gallery">
    <a target="_blank" href="{% static 'images/Sign Up.png' %}">
      <img src="{% static 'images/Sign Up.png' %}" alt="Cinque Terre" width="3000" height="2000">
    </a>
    <div class="desc">First things first, register yourself by making an account!</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="{% static 'images/Home.png' %}">
      <img src="{% static 'images/Home.png' %}" alt="Forest" width="3000" height="2000">
    </a>
    <div class="desc">Once you create an account, start judging tweets.</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="{% static 'images/Judge.png' %}">
      <img src="{% static 'images/Judge.png' %}" alt="Mountains" width="3000" height="2000">
    </a>
    <div class="desc">Let us know if the tweet you've been shown is abusive</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="{% static 'images/Graphs.png' %}">
      <img src="{% static 'images/Graphs.png' %}" alt="Northern Lights" width="3000" height="2000">
    </a>
    <div class="desc">You can checkout site statistics on the analytics page</div>
  </div>
{% endblock %}