{% extends 'app/base.html' %}
{% load static %}


{% block body_block %}
    <script src="{% static 'js/Swipe.js' %}"
            crossorigin="anonymous">
    </script>
    <div style="background-color: rgb(43, 99, 255); text-align: center; margin: 100px;">
        <form id="judgement_form" action="{% url 'app:judge' %}" method="post" value="{{ csrf_token }}">
            <button class="btn" id="up" type="button" name="up_btn" class="btn" value="Neutral">Neutral</button>
            <button class="btn" id="left" type="button" name="left_btn" class="btn" value="Positive">Positive</button>
            <div class="card">
                <div class="card-header">
                Tweet
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% if tweet %}
                        <p>{{ tweet.body }}</p>
                    {% else %}
                        <p>No tweet found</p>
                    {% endif %}
                    <footer class="blockquote-footer">{{ tweet.date }}</footer>
                </blockquote>
                </div>
            </div>
            <button class="btn" id="right" type="button" name="right_btn" class="btn" value="Negative">Negative</button>
            <button class="btn" id="down" type="button" name="up_btn" class="btn" value="Skip">Skip</button>
        </form>
    </div>
    <footer class="page-footer font-small blue pt-4 bg-primary">
        <div class="footer-copyright text-center py-3">
            Tweets on Trial
        </div>
    </footer>
{% endblock %}
