{% extends 'app/base.html' %}
{% load static %} 

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>    

{% block body_block %}

    <div style="text-align: center; margin: 10px;">
        <a href="{% url 'app:judge' %}" style = 'background-color: #4CAF50;' class="btn" id="left" type="button">Judge next tweet</a>
        
        <p>
        {% if tweet %}
                {{ results.sum }} Have voted on this tweet. Here are the statistics for: "{{ tweet.body }}"
        {% else %}
                No tweet found"
        {% endif %}
        </p>
    </div>
    
    <div class="row">
        <div class="column" >
            {{ barchart | safe }}
        </div>
        <div class="column" >
            {{ scatterplot | safe }} 
        </div>
    </div>
    
{% endblock %}