{% extends 'app/base.html' %}
{% load static %} 

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>    

{% block body_block %}

    {% if tweet %}
        <p>{{ tweet.body }}</p>
    {% else %}
        <p>No tweet found</p>
    {% endif %}

    {% if results %}
        <p>{{ results.sum }} have voted on this tweet</p>
    {% else %}
        <p>No results found</p>
    {% endif %}
    
    
    <div class="row">
        <div class="column" >
            {{ barchart | safe }}
        </div>
        <div class="column" >
            {{ scatterplot | safe }} 
        </div>
    </div>


    <a href="{% url 'app:judge' %}" class="btn">Judge next tweet</a>
    
{% endblock %}